.card {
  position: relative;
  width: 300px;
  height: 450px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 16px;
  overflow: hidden;
  color: black;
  font-family: "Tilda Sans VF", sans-serif;
  transition: background-size 0.3s ease;
  cursor: pointer;
  box-sizing: border-box;
}

@media (max-width: 960px) {
  .card {
    width: 250px;
    height: 350px;
  }
}

.gradient-overlay,
.card-text {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.3s ease;
  z-index: 1;
}

.card-text {
  bottom: 32px;
  left: 32px;
  right: 28px;
  color: white;
  z-index: 2;
  height: auto;
  width: auto;
}

.gradient-overlay {
  background: linear-gradient(180deg, rgba(31, 139, 72, 0) 31.3%, #1f8b48 100%);
}

.card:hover .gradient-overlay,
.card:hover .card-text {
  opacity: 1;
  pointer-events: auto;
}

.card-title {
  font-size: 24px;
  font-weight: 700;
  font-family: "GropledBold", sans-serif;
  margin: 0 0 8px 0;
}

.card-description {
  font-size: 16px;
  margin: 0;
  font-weight: 300;
  font-family: "Tilda Sans VF";
}
