@media (max-width: 960px) {
  .card-main-container {
    height: 350px;
    font-size: 28px;
    margin-bottom: 64px;
  }

  .info-main-container {
    width: 232px;
    height: 350px;
    font-size: 28px;

    .info-card-container {
      white-space: pre-line;
      font-size: 27px;
    }
  }

  .cards-wrapper {
    gap: 8px;

    > div {
      flex: 0 0 250px;
      max-width: 250px;
    }
  }

  .cards {
    .card-title {
      font-size: 20px;
    }

    .card-description {
      font-size: 16px;
    }
  }
}
