$main-color: #f6f6f6;
$second-color: #1f8b48;

body {
  font-family: "Gropled", sans-serif;
  background-color: $main-color;
  background-image: url("./assets/backgroundImage.svg");
  h1 {
    color: white;
  }
}

@font-face {
  font-family: "Tilda Sans VF";
  src: url("./fonts/TildaSans-VF_TTF_Web/TildaSans-VF.woff2") format("woff2");
  font-weight: 100 900;
  font-style: normal;
  font-display: swap;
}

.main-page-container {
  margin-left: 120px;
  margin-right: 120px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

@media (max-width: 960px) {
  .main-page-container {
    width: 940px;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 8px;
  }
}

@media (max-width: 640px) {
  .main-page-container {
    width: 100%; /* или max-width: 640px; */
    max-width: 640px;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 8px;
  }
}
